
/* pt-sans-regular - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v17-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* pt-sans-italic - cyrillic_cyrillic-ext_latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/pt-sans-v17-cyrillic_cyrillic-ext_latin_latin-ext-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* pt-sans-700 - cyrillic_cyrillic-ext_latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v17-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
    html{
        box-sizing: border-box;
    }
    *, *::before, *::after{
        box-sizing: inherit;
    }
  
    


    body {
        font-family: 'PT Sans';
        font-style: normal;
        font-size: 16px;
        line-height: 1.2;
        font-weight: normal;
        color: #10151D;
    }
    .foto{
        padding-top: 150px;
        max-width: 1000px;
        margin: 0 auto;
        font-weight: 500px;
        color: #10151D;
        margin-bottom: 45px;
        
    }

    .foto-title{
        font-size: 50px;
        margin-bottom: 22px;
        padding: 0 15px;
    }

    .foto__cards{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 57px;
        padding: 0 15px;
    }

    .foto__card{
        position: relative;
        overflow: hidden;
        grid-column: span 2;
    }

    .foto__card-pic{
        transition: .15s all;
    }

    .foto__card:hover .foto__card-pic{
        transform:scale(1.05) ;
    }

    .foto__card-mini{
        display: block;
        margin: auto;
        width: 100%;
        height: 400px;
        object-fit: cover;
        cursor: pointer;
    }

    body.lightbox-open {
        overflow: hidden;
    }

    
    .lightbox {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    .lightbox-content {
        max-width: 80%;
        max-height: 80%;
        margin: auto;
        display: block;
    }
    
    .close-btn {
        color: #fff;
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
    
    .prev-btn,
    .next-btn {
        font-size: 30px;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    .prev-btn {
        left: 20px;
    }
    
    .next-btn {
        right: 20px;
    }
    


    /* Media start */

    @media screen and (max-width: 960px) {
        .foto__card{
            grid-column: span 3;
        }
    }




     @media screen and (max-width: 767px) {
        .foto{
            margin-bottom: 50px;
        }
        .foto__card{
            grid-column: span 6;
        }
        .close-btn {
            top: 110px; 
        }


    }    
    /* Media end */
